.only-mobile {
  height: 1000vh;
  width: 100vw;
  background-color: var(--yellow);
  z-index: 30;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: absolute;
  top: 0;
}

@media screen and (max-width: 630px) {
  .only-mobile {
    display: none;
  }
}
