.user-component {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
  width: 100%;
}

.user-component__column {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.user-component__column h2 {
  position: absolute;
  right: 5px;
}

.user-component__avatar {
  width: 60px;
  height: 60px;
  border-radius: 25px;
  margin-right: 20px;
}

.user-component__avatar--sm {
  width: 70px;
  height: 70px;
  border-radius: 30px;
  margin-right: 20px;
}

.user-component__avatar--xl {
  width: 80px;
  height: 80px;
  border-radius: 30px;
  margin-right: 20px;
}
.user-component__subtitle {
  margin-top: 8px;
  opacity: 0.5;
  font-size: 13px;
}
.user-component__title--not-bold {
  font-weight: 400;
}

.user-component__column span {
  color: rgba(0, 0, 0, 0.5);
}

.user-component__newmsg {
  display: block;
  color: var(--white);
  font-size: 12px;
  justify-content: center;
  align-items: center;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--red);
}

.user-component__column .time {
  position: absolute;
  top: -20px;
  right: 5px;
  font-size: 10px;
  opacity: 0.7;
}
.user-component__text h6 span {
  color: red;
  padding-right: 5px;
  padding-left: 5px;
  border-top: 2px solid red;
  border-bottom: 2px solid red;
  border-left: 2px solid red;
  border-right: 2px solid red;
  border-radius: 50%;
  font-weight: 600;
}

.find-mainicons__icons:nth-child(2) {
  position: relative;
}

.user-component__sub {
  position: relative;
  display: flex;
  flex-direction: column;
}

.user-component__sub span {
  font-size: 12px;
  color: var(--gray);
  position: absolute;
  bottom: 3px;
  right: 3px;
}
.user-component__sub h5 {
  position: absolute;
  top: 3px;
  right: 3px;
}
